@use "./partials/variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.primary-text-color{
    color: variables.$primary-color;
  }
  
  .secondary-text-color{
    color: variables.$secondary-color;
  }
  
  .terthiary-text-color{
    color: variables.$terthiary-color;
  }
  
  .container{
    margin: 0 auto;
    max-width: 1170px;
  }
  
  .d-flex{
    display: flex;
  }

  .flex-wrap{
    flex-wrap: wrap;
  }
  
  .justify-content-between{
    justify-content: space-between;
  }
  
  .justify-content-around{
    justify-content: space-around;
  }

  .align-center{
    align-items: center;
  }
  
  .h-100{
    height: 100%;
  }
  
  .list-style-none{
    list-style: none;
  }
  
  .text-decoration-none{
    text-decoration: none;
  }
  .text-no-wrap{
      white-space: nowrap;
  }
  
  .d-block{
    display: block;
  }
  
  .d-inline-block{
    display: inline-block;
  }
  
  .p-3{
    padding: 1rem;
  }

  .pt-4{
    padding-top: 1.5rem;
  }

  .pb-3{
    padding-bottom: 1rem;
  }
  
  .ptb-05{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .pes-5{
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .m-auto{
    margin: auto;
  }

  .ms-3{
    margin-left: 1rem;
  }

  .mb-2{
    margin-bottom: 0.5rem;
  }

  .mes-3{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .m-2{
    margin: 0.5rem
  }
  
  .m-3{
    margin: 1rem;
  }
  
  .me-3{
    margin-right: 1rem;
  }

  main{
    background-color: variables.$fourthiary-color;
  }
  
  .text-white{
    color: variables.$text-white;
  }
  
  .fs-075{
    font-size: 0.75rem;
  }

  .fs-125{
    font-size: 1.25rem;
  }

  .fw-bold{
    font-weight: bold;
  }

  .bg-tag{
    background-color: variables.$secondary-color; 
    border: none;
  }